/******************************************************************

Site Name: Github Pages - ember-cli-chosen
Author: Andrew Walton

One Nexus Framework by Edmund Reed of bluenexusmedia.com
http://onenexusproject.com - http://edmundreed.co.uk

******************************************************************/

/******************************************************************
Skeleton
******************************************************************/

@import "../../../../bower_components/one-nexus/assets/styles/scss/skeleton/normalize";
@import "../../../../bower_components/one-nexus/assets/styles/scss/skeleton/variables";
@import "../../../../bower_components/one-nexus/assets/styles/scss/skeleton/base";
@import "../../../../bower_components/one-nexus/assets/styles/scss/skeleton/grid";
@import "../../../../bower_components/one-nexus/assets/styles/scss/skeleton/helpers";
@import "../../../../bower_components/one-nexus/assets/styles/scss/skeleton/print";

/******************************************************************
Elements
******************************************************************/

@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/accordions";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/alert-boxes";
@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/buttons";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/blockquotes";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/carousels";
@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/fonts";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/forms";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/headings";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/icons";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/images";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/links";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/lists";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/modals";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/tables";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/tabs";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/elements/tooltips";

/******************************************************************
Modules
******************************************************************/

//@import "../../../../bower_components/one-nexus/assets/styles/scss/modules/breadcrumb";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/modules/footer";
@import "../../../../bower_components/one-nexus/assets/styles/scss/modules/header";
@import "../../../../bower_components/one-nexus/assets/styles/scss/modules/logo";
@import "../../../../bower_components/one-nexus/assets/styles/scss/modules/main-nav";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/modules/nav-trigger";
@import "../../../../bower_components/one-nexus/assets/styles/scss/modules/off-canvas-nav";
//@import "../../../../bower_components/one-nexus/assets/styles/scss/modules/scroll-top";

/* Custom for this site */

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/* Header / Logo */
.logo {
  a {
    text-decoration: none;
  }

  .fa {
    font-size: 1.3em;
    vertical-align: middle;
  }
}

/* Main Navigation */
@media(max-width: $breakpoint-3 - 1) {
  .main-nav .button {
    margin-bottom: 10px;
  }

  .main-nav .button.no-margin {
    margin-left: 0;
  }
}

@media(min-width: $breakpoint-3) {
  .main-nav ul {
    display: inline-block;
    margin-bottom: 0;
  }
}

.main-nav {
  li > a {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  li.active > a, li.active:hover > a {
    color: white;
    background-color: $brand-1;
  }

  .button {
    margin-left: 15px;
  }

  .button .fa {
    margin-right: 5px;
  }
}

.nav-trigger {
  float: right;
  margin-top: -35px;
  color: white;
  cursor: pointer;
}

/* Headings */
.container .main-header {
  margin-top: 20px;
}

.section-header {
  border-bottom: solid 1px $brand-3;
}

/* Code / accordion */
.accordion {
  margin-top: 20px;
}

code.inline {
  display: inline;
}
