<div id="site-content">
    <header class="app-header" id="app-header">
        <div class="container">
            <div class="header-wrapper">
                <!-- Logo -->
                <div class="logo">
                    {{#link-to "index"}}
                        ember-cli-chosen
                    {{/link-to}}
                </div>

                <!-- Mobile nav trigger -->
                <span class="fa fa-bars fa-2x nav-trigger max-bp3"></span>

                <!-- Main-Nav -->
                <nav class="main-nav">
                    <ul>
                        {{#link-to "index" tagName="li"}}{{#link-to 'index'}}Home{{/link-to}}{{/link-to}}
                        {{#link-to "options" tagName="li"}}{{#link-to "options"}}Options{{/link-to}}{{/link-to}}
                    </ul>
                    <a href="https://github.com/green-arrow/ember-cli-chosen" class="button small brand-3 no-margin"><i class="fa fa-github"></i>Fork Me!</a>
                    <a href="https://github.com/green-arrow/ember-cli-chosen/archive/v0.0.3.tar.gz" class="button small brand-1"><i class="fa fa-file-archive-o"></i>Download .tar.gz</a>
                    <a href="https://github.com/green-arrow/ember-cli-chosen/archive/v0.0.3.zip" class="button small brand-2"><i class="fa fa-file-archive-o"></i>Download .zip</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        {{outlet}}
    </div>

    <div class="site-overlay"></div>
</div>

<nav class="off-canvas-nav">
    <div id="off-canvas-nav"></div>
</nav>
