<header class="app-header" id="app-header">
    <div class="container">
        <div class="header-wrapper">
            <!-- Logo -->
            <div class="logo">
                {{#link-to "index"}}
                    ember-cli-chosen
                {{/link-to}}
            </div>
            <!-- Main-Nav -->
            <nav class="main-nav">
                <a href="https://github.com/green-arrow/ember-cli-chosen" class="button small brand-3"><i class="fa fa-github"></i>Fork Me!</a>
                <a href="https://github.com/green-arrow/ember-cli-chosen/archive/v0.0.1.tar.gz" class="button small brand-1"><i class="fa fa-file-archive-o"></i>Download .tar.gz</a>
                <a href="https://github.com/green-arrow/ember-cli-chosen/archive/v0.0.1.zip" class="button small brand-2"><i class="fa fa-file-archive-o"></i>Download .zip</a>
            </nav>
        </div>
    </div>
</header>

<div class="container">
    <h4 class="main-header">
        ember-cli-chosen allows you to use the popular <a href="http://harvesthq.github.io/chosen/">Chosen jQuery plugin</a> in your ember-cli application.
    </h4>

  <p>For complete documentation on ember-cli-chosen, check out the readme at the
      <a href="https://github.com/green-arrow/ember-cli-chosen">Github Repo</a>
  </p>

  {{outlet}}
</div>
