<h2 id="title">ember-cli-chosen</h2>

<h4>Use Chosen in your ember-cli app</h4>

<p>
    ember-cli-chosen allows you to use the popular <a href="http://harvesthq.github.io/chosen/">Chosen jQuery plugin</a> in your ember-cli application.
</p>

{{outlet}}
